*{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

#ProcessorHead{
    width: 100%;
    color: #000000;
    text-align: center;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px;
    margin: 30px;
    width: auto;
    height: 200px;
}   


.product-item {
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    font-size: smaller;

}

.product-item img {
    width: 60%;
    height: auto;
    border-radius: 5px;
    background-color: #000000;
    object-fit: cover;
    padding-top: 2rem;
    
}

h4 {
    color: #ffffff;
    font-size: 0.8rem;
    margin-bottom: 10px;
    background-color:#000000;
    font-family: 'Segoe UI';
    border: 0.01rem solid #d8d6d6;
    border-radius: 12px;
    margin:  0  80px ;
    font-weight: 350;
    align-content: end;
}

h5 {
    font-size: 1em;
    margin: 10px 0;
    color: #ffffff;
    background-color: #000000;
}

p {
    color: #e74c3c;
    font-weight: bold;
    background-color: #000000;
}

.item-cart{
    background-color: #000000;
    border-radius: 5px  ;
    color: #000000;
    border: none;
    display: flex;
    align-items: start;
    box-shadow: none;
    padding: 10px;
    cursor:pointer;
    align-items: start;
}

